<div class="lign">
    <form action="" [formGroup]="myForm">
        <div class="row">
            <div class=" min" (click)="deleteLign()">-</div>
            <div class="col-md-12 my-5">
                    <div class="form-group col-md-6 my-2">
                        <label for="">Produits</label>
                        <select formControlName="idProduct" name="delectionner un destinataire" class="form-control" (change)="getProduct()">
                            <Option value="" selected disabled>Choiser le produit</Option>                          
                            <Option *ngFor="let item of products" value="{{ item.id }}">{{ item.name }}</Option>
                        </select>
                    </div>
                    <div class="ml-2 row">
                        
                        <div class="form-group col-md-2">
                            <label for="">Quantite</label>
                            <input type="number" max="{{product?.quantityStock}}" min="0" formControlName="quantity" (change)="change()" name="" class="form-control" placeholder="00" />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="">prixht</label>
                            <input type="number" value="{{product?.price}}" min="0" formControlName="prixht" (change)="change()" name="" class="form-control" placeholder="00" />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="">TVA</label>
                            <input type="number" formControlName="tva" min="0" name=""  (change)="change()" class="form-control" value="20" />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="">Reduction</label>
                            <input type="number" formControlName="reduction" min="0" (change)="change()" name="" class="form-control" placeholder="00.00" />
                        </div>
                        <div class="form-group col-md-2">
                            <label for="">Total HT</label>
                            <input type="number" formControlName="totalHT" name="" class="form-control" placeholder="00.00" readonly/>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="">Total TTC</label>
                            <input type="number" formControlName="totalTTC" name="" class="form-control" placeholder="00.00" readonly/>
                        </div>
                        <!-- <button (click)="valide()" class="pull-right" class="btn btn-success">Valide</button> -->
                    </div>
                    </div>
                </div>

    
    
    
    
    
    
     </form>
    
</div>